<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <title>qxjit || David Vollbracht</title>
    <link href="/style.css" rel="stylesheet">
    <script src="/tiny.min.js" type="text/javascript"></script>
    <script src="/main.js" type="text/javascript"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>
  <body>
    <h1>
      qxjit&nbsp;&nbsp;||&nbsp;&nbsp;David Vollbracht
    </h1>
    <div class="carousel">
      <div class="section">
        <h2>
          <i class="fa fa-laptop" aria-hidden="true"></i>
          <i class="fa fa-desktop" aria-hidden="true"></i>
          <i class="fa fa-tablet" aria-hidden="true"></i>
          <i class="fa fa-mobile" aria-hidden="true"></i>
        </h2>
        <div class="content">
          <p>
            I started programming when I was 8, transcribing BASIC code
            listings into my dad's computer so I could play games they
            made. He gave me my first C book when I was 12, and from then
            on I taught my self from books, online, and trial and error.
          </p>
        </div>
      </div>

      <div class="section">
        <h2>
          &lambda;
          &infin;
        </h2>
        <div class="content">
          <p>
            I graduated from The Ohio State University with a B.S. in theoretical
            mathematics. Constructing math proofs was how I really learned to think.
            My math background has made my love affair with functional programming
            languages like Haskell that much sweeter.
          </p>
        </div>
      </div>

      <div class="section">
        <h2 lang="ja">日本語</h2>
        <div class="content">
          <p>
            Along the way, I collected my B.A. in Japanese from Ohio State.
            Japanese has become a lifelong study for me &dash; I read, listen, watch
            and speak in Japanese every day at home.
          </p>
        </div>
      </div>

      <div class="section">
        <h2>
          <i class="fa fa-male" aria-hidden="true"></i>
          <i class="fa fa-female" aria-hidden="true"></i>
        </h2>
        <div class="content">
          <p>
            I have a wife, son, and daughter who bring me
            joy every day. Our children don't look it, but they are
            1/4 Japanese, so teaching them the language is
            important to us. We hope to take them to the Japan soon.
          </p>
        </div>
      </div>


      <div class="section">
        <h2>
          &#9861;
          &#9861;
        </h2>
        <div class="content">
          <p>
            I've played tabletop board games and roleplaying games for almost
            as long as I've been coding. We have a standing game night
            every week. Once year a we also host a get together for 40 of
            our closest friends to play games for an entire weekend.
          </p>
        </div>
      </div>

      <div class="section">
        <h2>
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </h2>
        <div class="content">
          <ul>
            <li>
              <a href="http://flipstone.com">
                Flipstone
              </a>
            </li>
            <li>
              <a href="https://github.com/qxjit">
                Github
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="http://www.linkedin.com/in/qxjit">
                LinkedIn
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>

