html {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #e6e6e6;
  background-image: url(/bg.png);
  background-repeat: no-repeat;
  color: #c6c6f9;
  color: black;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #666;
}

h1 {
  font-size: 24px;
  font-weight: 300px;
  display: inline-block;
  color: #ededed;
  background-color: #555;

  margin: 0;
  margin-top: -10px;
  padding: 25px 30px 15px 30px;
  border-radius: 0 0px 10px 10px;

  box-shadow: inset 0px 0px 2px 0px black;
  text-shadow: 1px 1px 1px #111;
}

h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  display: inline-block;
  padding: 20px;
  margin: 10px auto;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0,0,0,0);
  text-shadow: 1pt 1pt 1pt #555;
}

.section:nth-child(1) {
  color: #ff282f;
}

.section:nth-child(2) {
  color: #f3f123;
}

.section:nth-child(3) {
  color: #ff891a;
}

.section:nth-child(4) {
  color: #00cf0f;
}

.section:nth-child(5) {
  color: #1c30ff;
}

.section:nth-child(6) {
  color: #b61aff;
}

.section.current h2 {
  border-color: inherit;
  box-shadow: 1px 1px 0px 0px #555;
}

h2:hover {
  background-color: rgba(255,255,255, 0.1);
  border-color: inherit;
  box-shadow: 1px 1px 0px 0px #555;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  text-align: left;
}

input {
  display: none;
}

p {
  border-radius: 25px;
  color: #222;
}

.carousel {
  margin-top: 15vh;
  display: block;
}

.section {
  display: inline-block;
}

.section .content {
  overflow: hidden;
  text-align: center;
}

.section .content > * {
  padding: 10px;
  margin: 0;
}

.section.current .content {
  visibility: visible;
}

@media (min-width: 1280px) {
  .section h2, .section .content {
    vertical-align: middle;
    display: inline-block;
  }

  .section .content {
    width: 0;
    transition: width 0.5s;
  }

  .section .content > * {
    width: 280px;
  }

  .section.current .content {
    width: 300px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 12px;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 36px;
  }

  .section h2, .section .content {
    vertical-align: middle;
    display: inline-block;
  }

  .section .content {
    width: 0;
    transition: width 0.5s;
  }

  .section .content > * {
    width: 150px;
  }

  .section.current .content {
    width: 170px;
  }
}

@media (max-width: 1023px) {
  ul {
    text-align: center;
  }

  .section {
    padding: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    display: block;
  }

  .section h2, .section .content {
    display: block;
  }

  .section .content {
    max-height: 0;
    transition: max-height 0.5s;
  }

  .section.current .content {
    max-height: 500px;
  }
}

